html,
body {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: var(--xp-cursor-default), default;
}

button:not(:disabled),
a,
select,
[role="button"],
[role="option"],
[role="menuitem"]:not([aria-disabled="true"]) {
  cursor: var(--xp-cursor-pointer), pointer;
}

button:disabled,
[aria-disabled="true"] {
  cursor: var(--xp-cursor-unavailable), not-allowed;
}

input:not(:disabled),
textarea:not(:disabled),
[contenteditable="true"] {
  cursor: var(--xp-cursor-text), text;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
