.window {
  width: 1200px;
  height: 700px;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.window.minimized {
  display: none;
}


.window.focused {
  z-index: 10;
  box-shadow: inset 0 0 0 3px var(--title-bar-focused-bg, #245fdc);
}

.window.unfocused {
  z-index: 9;
  box-shadow: inset 0 0 0 3px var(--title-bar-unfocused-bg, #a0c0ff);
}

.title-bar {
  cursor: move;
}

.title-bar.focused-title-bar {
  background: var(--title-bar-focused-bg, #245fdc);
}

.title-bar.unfocused-title-bar {
  background: var(--title-bar-unfocused-bg, #a0c0ff);
}

.title-bar-controls button {
  position: relative;
}

.unfocused .title-bar-controls button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
}

button, .button {
  cursor: pointer;
}

.window-body {
  height: 100%;
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
}

.resize-handle {
  position: absolute;
  background: transparent;
  z-index: 100;
}

.resize-handle.top-left {
  top: 0;
  left: 0;
  cursor: nwse-resize;
  width: 10px;
  height: 10px;
}

.resize-handle.top-right {
  top: 0;
  right: 0;
  cursor: nesw-resize;
  width: 10px;
  height: 10px;
}

.resize-handle.bottom-left {
  bottom: 0;
  left: 0;
  cursor: nesw-resize;
  width: 10px;
  height: 10px;
}

.resize-handle.bottom-right {
  bottom: 0;
  right: 0;
  cursor: nwse-resize;
  width: 10px;
  height: 10px;
}

.resize-handle.top {
  top: 0;
  left: 10px;
  right: 10px;
  height: 5px;
  cursor: ns-resize;
}

.resize-handle.right {
  top: 10px;
  right: 0;
  bottom: 10px;
  width: 5px;
  cursor: ew-resize;
}

.resize-handle.bottom {
  bottom: 0;
  left: 10px;
  right: 10px;
  height: 5px;
  cursor: ns-resize;
}

.resize-handle.left {
  top: 10px;
  left: 0;
  bottom: 10px;
  width: 5px;
  cursor: ew-resize;
}
