.background {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100vw;
  height: 100vh;
  gap: 20px;
  padding: 40px;
  box-sizing: border-box;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
  font-family: 'Tahoma', sans-serif;
  font-size: 10px;
  color: white;
  position: relative;
  text-shadow: 1px 1px 2px black;
}

.icon img {
  width: 30px;
  display: block;
  margin-bottom: 8px;
}

.icon.selected img {
  mix-blend-mode: multiply;
  filter: brightness(0.9) sepia(1) hue-rotate(170deg) saturate(10) opacity(1);
}

.icon.selected span {
  background-color: #0b61ff;
  opacity: 0.5;
  padding-right: 1px;
  padding-left: 1px;
}

.selection-box {
  position: absolute;
  border: 1px dashed grey;
  pointer-events: none;
}
